---
const navTitle = "Navigation";
---

	<span>{navTitle}</span>	
	<nav>
			<a href="/01_astro_foundation/">Home</a>
			<a href="/01_astro_foundation/about">About</a>
			<a href="/01_astro_foundation/contact">Contact</a>
	</nav>


